package views

import "github.com/a-h/templ"

templ IndexPage() {
	<html>
		<head>
			<title>My App</title>
		</head>
		<body>
			<h1>Hello from Templ!</h1>
			<p>This is the index page.</p>
		</body>
	</html>
}
